<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actualizar Fruta</title>
</head>
<body>
    <h2>Actualizar Fruta</h2>

    <form action="{{ url_for('actualizar_fruta', id=fruta[0]) }}" method="post">
        <input type="text" name="txtFruta" value="{{ fruta[1] }}" placeholder="Escribe fruta">
        <input type="text" name="txtTemporada" value="{{ fruta[2] }}" placeholder="Escribe temporada">
        <input type="number" name="txtPrecio" value="{{ fruta[3] }}" placeholder="Escribe precio">
        <input type="number" name="txtStock" value="{{ fruta[4] }}" placeholder="Escribe stock">
        <button type="submit">Actualizar</button>
    </form>

    <br>
    <a href="{{ url_for('index') }}">Regresar al inicio</a>
</body>
</html>
