<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD Albums</title>
</head>
<body>
    {% with mensajes = get_flashed_messages() %}
      {% if mensajes %}
      {% for msj in mensajes %}
           <h3> {{ msj }} </h3>
      {% endfor %}
      {% endif %}
    {% endwith %}

    <br>
    <br>
    <center><h1>Gestion de Frutas</h1></center>
    <br>

    <form action="{{ url_for('guardar') }}" method="post">
        <input type="text" name="txtFruta" placeholder="Escribe fruta">
        <input type="text" name="txtTemporada" placeholder="Escribe temporada">
        <input type="number" name="txtPrecio" placeholder="Escribe precio">
        <input type="number" name="txtStock" placeholder="Escribe stock">
        <button type="submit">Guardar</button>
    </form>

    <br>
    <br>
    <form action="{{ url_for('frutas') }}" method="post">
        <input type="text" name="txtNombre" placeholder="Buscar por nombre">
        <button type="submit">Buscar</button>
    </form>

    <br>
    <br>
    <a href="{{ url_for('lista_frutas') }}">Ver todas las frutas</a>
</body>
</html>
