h1 {
    color: #F3FF00;
    text-align: center;
  }
  
  table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    width: 70%;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
  }
  
  th {
    background-color: #00ffe5;
    color: #000;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tr:hover {
    background-color: #ddd;
  }
  
  

