section{
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    
    background: url('fondo.jpg')no-repeat;
    background-position: center;
    background-size: cover;
      
}
h1 {
    color: #F3FF00;
    text-align: center;
  }
  
  table {
    margin: 0 auto;
    margin-right: auto;
    border-collapse: collapse;
    width: 70%;
  }
  
  th, td {
    padding:10px;
    text-align: left;
    border: 2px solid black;
  }
  
  th {
    background-color: #00ffe5;
    color: #000;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tr:hover {
    background-color: #ddd;
  }

  
  
  

