<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actualizar Flores</title>
</head>
<body>
    <h2>Actualizar Flores</h2>

    <form action="{{ url_for('actualizar_flor', id=flor[0]) }}" method="post">
        <input type="text" name="txtNombre" value="{{ flor[1] }}" placeholder="Escribe nombre">
        <input type="number" name="txtCantidad" value="{{ flor[2] }}" placeholder="Escribe cantidad">
        <input type="number" name="txtPrecio" value="{{ flor[3] }}" placeholder="Escribe precio">
        <button type="submit">Actualizar</button>
    </form>

    <br>
    <a href="{{ url_for('index') }}">Regresar al inicio</a>
</body>
</html>
