{% extends 'plantilla.html' %}

{% block body %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <h1 class="text-center mt-4">Actualizar álbum</h1>
            <form action="/actualizar/{{ album.0 }}" method="POST">
                <div class="mb-3">
                    <label for="txtTitulo">Título:</label>
                    <input type="text" class="form-control" name="txtTitulo" value="{{ album.1 }}">
                </div>
                <div class="mb-3">
                    <label for="txtArtista">Artista:</label>
                    <input type="text" class="form-control" name="txtArtista" value="{{ album.2 }}">
                </div>
                <div class="mb-3">
                    <label for="txtAnio">Año:</label>
                    <input type="number" class="form-control" name="txtAnio" value="{{ album.3 }}">
                </div>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-primary">Actualizar</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
