{% extends 'plantilla.html' %}
{% block body %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <h1 class="text-center mt-4">Eliminar álbum</h1>
            <form action="/borrar/{{ album.0 }}" method="POST">
                <div class="mb-3">
                    <label for="txtTitulo">Título:</label>
                    <input type="text" class="form-control" name="txtTitulo" value="{{ album.1 }}" readonly>
                </div>
                <div class="mb-3">
                    <label for="txtArtista">Artista:</label>
                    <input type="text" class="form-control" name="txtArtista" value="{{ album.2 }}" readonly>
                </div>
                <div class="mb-3">
                    <label for="txtAnio">Año:</label>
                    <input type="number" class="form-control" name="txtAnio" value="{{ album.3 }}" readonly>
                </div>
                <div class="d-grid gap-2">
                    <input type="submit" class="btn btn-danger" name="Eliminar" value="Eliminar" onclick="return confirmacion()">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
